* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(30, 54%, 90%);
}

/* Fonts */
.recipe-title {
  color: hsl(24, 5%, 18%);
  font-size: 2.3rem;
  margin: 20px 0;
}

.sub-headings,
.brown-text,
.brown-marker > li::marker {
  color: hsl(14, 45%, 36%);
}

.bold {
  font-weight: bold;
}

.preparation-time {
  font-family: "Outfit", serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
}

.sub-headings,
.recipe-title {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

p,
li,
table {
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
}

td,
caption,
p,
ul > li,
ol > li {
  font-size: 0.875rem;
  color: hsl(30, 10%, 34%);
}

ul,
ol {
  padding: 0;
  margin-left: 20px;
}

li {
  margin: 13px 0;
}

/* Sections */
img {
  width: 100%;
  border-radius: 10px;
}

article {
  width: 650px;
  background-color: hsl(0, 0%, 100%);
  margin: 25px auto;
  padding: 30px;
  border-radius: 20px;
}

.preparation-section {
  background-color: hsl(330, 100%, 98%);
  border-radius: 12px;
}

.ingredients,
.instructions {
  border-bottom: 2px solid hsl(30, 18%, 87%);
}

/* Nutrition Table  */
table {
  border-collapse: collapse;
  width: 100%;
}

caption {
  text-align: left;
  margin-bottom: 20px;
}

tr {
  border-bottom: 2px solid hsl(30, 18%, 87%);
}

tr:last-child {
  border: none;
}

td {
  padding: 10px 40px;
}
