* {
    box-sizing: border-box;
}

body { 
    margin: 0;
    background-image: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
}

.summary {
    font-size: 12px;
    color: hsl(223, 47%, 23%);
}

.plan {
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.left-container {
    display: flex;
    align-items: center;
}

.left-container p {
    margin: 0 0 0 20px;
}

.plan img {
    height: 40px;
}

.bold {
    font-size: 14px;
    font-weight: 800;
}

.light-text {
    font-size: 14px;
    color:  hsl(224, 23%, 55%);
}

.link {
    font-size: 12px;
    font-weight: 800;
    color: hsl(245, 75%, 52%)
}

.payment, .cancel {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    margin-top: 20px;
    border: none;
}

.payment {
    width: 100%;
    background-color: hsl(245, 75%, 52%);
    border: none;
    padding: 12px 0;
    color: white;
    border-radius: 8px;
}

.cancel {
    background-color: white;
    color: hsl(224, 23%, 55%);;
}

.description {
    font-size: 14px;
    color: hsl(224, 23%, 55%);
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card {
    height: 500px;
    width: 350px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.information {
    padding: 0 30px;
    text-align:  center;
}