* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(images/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  font-family: "Red Hat Display", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  height: 495px;
  width: 320px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.image img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}

.summary {
  font-size: 12px;
  color: hsl(223, 47%, 23%);
}

.plan {
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  padding: 5px 15px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.left-container {
  display: flex;
  align-items: center;
}

.left-container p {
  margin: 0 0 0 20px;
}

.plan img {
  height: 40px;
}

.bold {
  font-size: 14px;
  font-weight: 800;
}

.light-text {
  font-size: 14px;
  color: hsl(224, 23%, 55%);
}

.link {
  font-size: 12px;
  font-weight: 800;
  color: hsl(245, 75%, 52%);
}

.payment,
.cancel {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.payment {
  width: 100%;
  background-color: hsl(245, 75%, 52%);
  border: none;
  padding: 12px 0;
  color: white;
  border-radius: 8px;
}

.cancel {
  background-color: white;
  color: hsl(224, 23%, 55%);
}

.description {
  font-size: 14px;
  color: hsl(224, 23%, 55%);
  margin-bottom: 20px;
}

.information {
  padding: 0 30px;
  text-align: center;
}
