* {
  box-sizing: border-box;
}

table,
td,
th {
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  background-color: yellow;
}

input {
  text-align: center;
  border: none;
  outline: none;
}
