* {
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  height: 500px;
  width: 380px;
  border: 1px solid black;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px black;
}

.image {
  height: 200px;
  border-radius: 10px;
  background-image: url(assets/images/illustration-article.svg);
}

.learning-button {
  border: none;
  border-radius: 5px;
  background-color: hsl(47, 88%, 63%);
  margin: 20px 0 10px 0;
  padding: 5px 13px;
  color: black;
  font-weight: 800;
}

.description {
  color: hsl(0, 0%, 50%);
  margin: 20px 0;
}

.title {
  font-weight: 800;
  font-size: 24px;
}

.title:hover {
  cursor: pointer;
  color: hsl(47, 88%, 63%);
}

.date {
  margin: 0 0 20px 0;
}

.author-profile {
  display: flex;
  align-items: center;
}

.author-avatar img {
  width: 40px;
  margin-right: 10px;
}

.author-name {
  font-weight: 800;
}
